.department-title, .keyword-title{
    margin-left: 400px;
}
/* .department-search{
    margin-left: 170px;
    border: 2px solid #3498db;
    width: 300px;
    height: 40px;
} */
.keyword-search ,.department-search{
    margin-left: 140px;
    border: 2px solid #3498db;
    width: 300px;
    height: 40px;
}
.search-container{
    display: flex;
    margin-left: 60px;
}

.search-button{
    margin-left: 710px;
    background: #3498db;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 15px;
}

.container{
    display:flex;
    margin: 30px;
}

.add-students{
    margin-left: 642px;
    width: 80px;
    height: 40px;
    background-color: #3498db;
    color: white;
    border-radius: 15px;
}

.delete,.edit{
    width: 80px;
    height: 40px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
}

table{
    width: 100%;
    border: none;
    margin-left: 200px;
}

.id,.name,.department,.action,.num-student{
    font-size: 18px;
}
.action{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.num-student{
    margin-left: 280px;
}
.addStudents-link{
    text-decoration: none;
    color: white;
}

form select {
    margin-left: 160px;
    border: 2px solid #3498db;
    width: 300px;
    height: 40px;
}
